meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
block vars
  include ../../../_config.pug
title Nonaのテスト
meta(name="keywords", content="page.description")
meta(name="description", content="")
//- OGP
meta(property="og:title", content="")
meta(property="og:type", content="article")
meta(property="og:url", content="")
meta(property="og:image", content="")
meta(property="og:site_name", content="")
meta(property="og:description", content="")
meta(property="og:locale", content="ja_JP")
link(rel="stylesheet" type="text/css" href!="https://cdn.jsdelivr.net/npm/yakuhanjp@3.2.0/dist/css/yakuhanjp.min.css")
link(rel="stylesheet" type="text/css" href!=css_path+"style.css")
link(rel="stylesheet" type="text/css" href!=css_path+"slick.css")
script(src=js_path+"jquery-3.4.1.min.js")
script(src=js_path+"slick.min.js")
script(src=js_path+"common.js")
link(rel="shortcut icon" href!="favicon.ico")