header.l-header#js-header
    div.l-header__inner
        p.l-header__logo#js-header__logo
            //- a(href!="#")
            //-     img.st-logo(src=image_path+"top/st-logo.png", alt="空気をかえよう　エステー")
            a(href!=root_path)
                img.logo(src=image_path+"common/logo.png", alt="オンパックス")
        button.l-header__button#js-header__button(type="button")
            span
        //- span.p-hamburger-icon#js-hamburger-icon
        //-     span
        //- button.l-header__close-btn
        nav.l-header__menu#js-header__menu
            ul.l-header__menu-list#js-header__menu-list
                li: a(href!=root_path+"index.html") HOME
                li: a(href!=root_path+"commitment/") オンパックスのこだわり
                li: a(href!=root_path+"lineup/") 製品ラインアップ
                li: a(href!=root_path+"history/") オンパックスの歴史
                li: a(href!=root_path+"manufacture/") オンパックスのものづくり
                li: a(href!=root_path+"faq/") よくあるご質問
//- .l-header__sp-logo
//-     a(href!="#")
//-         img(src=image_path+"top/logo.png", alt="オンパックス")