@charset "utf-8";

/*----------------------------------------------------
	footer
----------------------------------------------------*/

.l-footer{
	background: $pl_grey;	
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: $base_width;
		width: 95%;
		margin: 0 auto;
		padding: 60px 0;
		@include media(small) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 30px 0;
			img{
				margin: 0 auto;
			}
		}	
	}
	&__nav{
		@include media(small) {
			width: 100%;
		}
	}
	&__nav-top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media(small) {
			flex-direction: column;
		}
	}
	&__nav-bottom{
		margin: 30px 0 0;

	}
	&__logo{
		margin: 0 20px 0 0;
		min-width: 160px;
		@include media(middle) {
			min-width: 140px;
		}
		@include media(small) {
			margin: 10px auto;
		}
	}
	&__image{
		display: flex;
		align-items: center;
		@include media(small) {
			flex-direction: column;
		}
	}
	&__social{
		display: flex;
		align-items: center;
		justify-content: center;
		@include media(middle) {
			flex-direction: column;
		}
	}
	&__social-baloon{
		position: relative;
		display: flex;
		align-items: center;
		margin: 0 20px;
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		color: #555;
		font-size: 16px;
		background: #FFF;
		border: solid 3px #00a161;
		box-sizing: border-box;
		border-radius: 8px;
		@include media(middle) {
			margin: 20px 20px 0;
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			right: -16px;
			margin-top: -8px;
			border: 8px solid transparent;
			border-left: 10px solid $white;
			z-index: 2;
			@include media(middle) {
				top: auto;
				bottom: -16px;
				right: auto;
				left: 50%;
				border-left: 10px solid transparent;
				border-top: 10px solid $white;
				transform: translate(-50%,0);
			}
		  }
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: -22px;
			margin-top: -10px;
			border: 10px solid transparent;
			border-left: 12px solid #00a161;
			z-index: 1;
			@include media(middle) {
				top: auto;
				bottom: -22px;
				right: auto;
				left: 50%;
				border-left: 12px solid transparent;
				border-top: 12px solid #00a161;
				transform: translate(-50%,0);
			}
		} 
		p{
			margin: 0 5px;
			padding: 0;
			font-size: 1.5rem;
			font-weight: bold;
			@include media(middle) {
				margin: 0 2px;
				font-size: 1.3rem;
			}
		}
	}
	&__social-button{
		display: flex;
		width: auto;
		justify-content: space-between;
		@include media(middle) {
			margin-top: 20px;
		}
		a{
			img{
				margin: 0 5px;
				width: 50px;
			}
		}
	}
	&__link{
		ul{
			display: flex;
			@include media(small) {
				margin-top: 20px;
				justify-content: flex-start;
			}
			li{
				margin: 0 16px;
				@include media(xmiddle) {
					margin: 0 10px 5px;
				}
				@include media(small) {
					margin: 10px;
				}
				a{
					font-size: 1.3rem;
					font-weight: bold;
					@include media(small) {
						
					}
				}
				&::before{
					content: '';
					display: inline-block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 0 4px 5px;
					border-color: transparent transparent transparent $green;
					padding-right: 8px;
				}
			}
		}
		&--button{
			ul{
				// @include media(middle) {
				// 	flex-direction: column;
				// }
				@include media(small) {
					flex-direction: row;
					justify-content: center;
				}
				li{
					border-radius: 15px;
					background: #018852;
					height: 30px;
					margin: 0 12px;
					padding: 0 20px 0 24px;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					@include media(xmiddle) {
						margin: 0 5px;
					}
					@include media(middle) {
						margin: 0 8px;
						border-radius: 18px;
						height: 36px;
					}
					@include media(xxsmall) {
						margin: 0 4px;
					}
					a{
						color: $white;
					}
					&::before{
						position: absolute;
						left: 12px;
						border-color: transparent transparent transparent $white;
						padding-right: 10px;
						top: 50%;
						transform: translate(0,-50%);
					}
				}
			}			
		}
		&--products{
			ul{
				@include media(xmiddle) {
					flex-wrap: wrap;
				}
				li{
					@include media(small) {
						margin: 0 10px 10px;
						width: calc(50% - 20px);
					}
				}
			}
		}
		&--white{
			width: 95%;
			margin: 0 auto;
			ul{
				display: flex;
				justify-content: center;
				align-items: center;
				@include media(small) {
					align-items: flex-start;
					margin-top: 0;
				}
				@include media(xxsmall) {
					flex-direction: column;
				}
				li{
					a{
						color: $white;
					}
					&::before{
						border-color: transparent transparent transparent $white;
						padding-right: 10px;
					}
				}
			}			
		}
	}
	&__bottom{
		font-size: 1.2rem;
		line-height: 1.2;
		background: #002558;
		color: $white;
		padding: 25px 0 20px;
		margin: 0 auto;
		@include media(small) {
			padding: 20px 0;
		}
	}
	&__copyright{
		margin: 50px 0 0;
		font-size: 1.2rem;
		text-align: center;
		@include media(small) {
			margin: 20px 0 0;
			font-size: 1rem;
		}
	}
}

