@charset "utf-8";

.l-wrapper {
    overflow-x: hidden;
	position: relative;
}

.l-body-container{
	overflow: hidden;
	margin-top: 120px;
	@include media(middle) {
		margin-top: 50px;
	}
}

.top{
	.l-body-container{
		margin: 0;
	}
}

.l-page-heading{
	padding: 0;
	text-align: center;
	&--commitment{
		background: url('#{$img_path}commitment/bg_commitment_photo.png') center bottom /100% no-repeat,
					url('#{$img_path}commitment/bg_commitment_base.jpg') center bottom /cover no-repeat;
		height: calc(100vw * 1);
		max-height: 1200px;
		@include media(xlarge) {
			background: url('#{$img_path}commitment/bg_commitment_photo.png') center bottom /80% no-repeat,
			url('#{$img_path}commitment/bg_commitment_base.jpg') center bottom /cover no-repeat;
			max-height: 1250px;
		}
		// @include media(ipad) {
		// 	background: url('#{$img_path}commitment/bg_commitment_sp.jpg') center bottom no-repeat;
		// 	background-size: 100%;
		// 	height: calc(100vw * 1.73);
		// }
		// @include media(xmiddle) {
		// 	background: url('#{$img_path}commitment/bg_commitment.jpg') center top no-repeat;
		// 	background-size: cover;
		// }
		@include media(middle) {
			height: calc(100vw * 1.2);
			max-height: 1000px;
		}
		@include media(small) {
			background: url('#{$img_path}commitment/bg_commitment_photo_sp.png') center bottom /100% no-repeat,
						url('#{$img_path}commitment/bg_commitment_base_sp.jpg') center bottom /cover no-repeat;
			height: calc(100vw * 1.6);
			max-height: 800px;
		}
		@include media(xsmall) {
			height: calc(100vw * 1.6);
			max-height: 680px;
		}
		@include media(xxsmall) {
			height: calc(100vw * 1.6);
			max-height: 640px;
		}
		@include media(iphone5) {
			height: calc(100vw * 1.8);
			max-height: 600px;	
		}
	}
	&--manufacture{
		background: url('#{$img_path}manufacture/bg_manufacture_top.png') center top /100% no-repeat,
					url('#{$img_path}manufacture/bg_manufacture_bottom.jpg') center bottom /100% no-repeat;
					height: calc(100vw * 0.81);
					max-height: 1000px;
					position: relative;
		@include media(xlarge) {
						background: url('#{$img_path}manufacture/bg_manufacture_top.png') center top /100% no-repeat,
						url('#{$img_path}manufacture/bg_manufacture_bottom.jpg') center bottom /100% no-repeat;
						max-height: 1000px;
		}
		@include media(xxlarge) {
			background: url('#{$img_path}manufacture/bg_manufacture_top.png') center top /100% no-repeat,
			url('#{$img_path}manufacture/bg_manufacture_bottom.jpg') center bottom -80px /100% no-repeat;
			max-height: 1000px;
		}
		@include media(xxxlarge) {
			background: url('#{$img_path}manufacture/bg_manufacture_top.png') center top /100% no-repeat,
			url('#{$img_path}manufacture/bg_manufacture_bottom.jpg') center bottom -140px /100% no-repeat;
			max-height: 1050px;
		}
		@include media(maxlarge) {
			background: url('#{$img_path}manufacture/bg_manufacture_top.png') center top  no-repeat,
			url('#{$img_path}manufacture/bg_manufacture_bottom.jpg') center bottom no-repeat;
			background-size: contain　!important;
			max-height: 1000px;
		}
		@include media(middle) {
			background: url('#{$img_path}manufacture/bg_manufacture_top_sp.png') center top no-repeat,
			url('#{$img_path}manufacture/bg_manufacture_bottom.jpg') center bottom no-repeat;
			background-size: 100%;
			max-height: 860px;
		}
		@include media(small) {
			background: url('#{$img_path}manufacture/bg_manufacture_top_sp.png') center top /100% no-repeat,
			url('#{$img_path}manufacture/bg_manufacture_bottom.jpg') center bottom /cover no-repeat;
			height: calc(100vw * 1.4);
			max-height: 640px;
		}
		@include media(xsmall) {
			background: url('#{$img_path}manufacture/bg_manufacture_top_sp.png') center top /100% no-repeat,
			url('#{$img_path}manufacture/bg_manufacture_bottom.jpg') center bottom /cover no-repeat;
			height: calc(100vw * 1.4);
			max-height: 600px;
		}
		@include media(iphone5) {
			background: url('#{$img_path}manufacture/bg_manufacture_top_sp.png') center top /100% no-repeat,
			url('#{$img_path}manufacture/bg_manufacture_bottom.jpg') center bottom -40px /cover no-repeat;
			height: calc(100vw * 1.5);
			max-height: 600px;
		}
	}
	&--lineup{
		background: url('#{$img_path}lineup/bg_lineup_page.png') center top no-repeat, 
					linear-gradient(rgba(255, 255, 255, 0) 80%, rgba(255,255,255,1)) center bottom no-repeat,
					#fefef6;
		background-size: 100%;
			@include media(small) {
						background: url('#{$img_path}lineup/bg_lineup_page_sp.png') center top no-repeat, 
						linear-gradient(rgba(255,255,255,0) 80%, rgba(255,255,255,1)) center bottom no-repeat,
						#fefef6;
			background-size: 100%;
		}
	}
	&--history{
		background-image:
			linear-gradient(rgba(255,255,255,0) 80%, rgba(255,255,255,1)),
			url('#{$img_path}history/bg_history.jpg');
		background-repeat:
			no-repeat,
			no-repeat;
		background-position:
			center bottom,
			center top;
		background-size: 100%;
		min-height: 500px;
		@include media(xlarge) {
			min-height: 550px;
		}
		@include media(maxlarge) {
			background-size: contain;
		}
		@include media(middle) {
			min-height: 370px;
		}
		@include media(small) {
			background-image:
				linear-gradient(rgba(255,255,255,0) 80%, rgba(255,255,255,1)),
				url('#{$img_path}history/bg_history_sp.jpg');
			background-repeat:
				no-repeat,
				no-repeat;
			background-position:
				center bottom,
				center top;
			background-size: 100%;
			min-height: unset;
			height: unset;
		}
	}
	&--faq{
		background: url('#{$img_path}faq/bg_faq_top.png') center top no-repeat;
		background-size: 100%;
		@include media(small) {
			background: url('#{$img_path}manufacture/bg_manufacture_top_sp.png') center top no-repeat;
			background-size: 100%;
			min-height: unset;
			height: unset;
		}
	}
	&__inner{
		width: 95%;
		margin: 0 auto;
		padding: 60px 0;
		&--commitment{
			position: relative;
			// // @include media(xlarge) {
			// // 	padding: 90px 0;
			// }
			// @include media(small) {
			// 	padding: 80px 0;
			// }
			@include media(xxsmall) {
				padding: 60px 0;
			}
		}
		&--lineup{			
			max-width: $base_width;
			@include media(small) {
				padding: 80px 0;
				width: 100%;
			}
			@include media(xxsmall) {
				padding: 60px 0;
			}
		}
		&--history{
			width: 100%;
			// padding: 60px 0 100px;
			// height: calc(100vw * 0.41);
			@include media(small) {
				height: unset;
				width: 100%;
				padding: 80px 0 40px;
			}  
		}
		&--manufacture{
			position: relative;
			max-width: 1100px;
			height: 100%;
		}
		&--faq{
			padding: 60px 0 0;
		}
	}
}

.l-content-container{
	padding: 0;
	margin: 0 auto;
	text-align: center;
	&--beige{
		background: $beige;
		margin: 0 auto;
	}
	&--commitment{
		background: url('#{$img_path}top/bg_commitment.jpg') center center no-repeat;
		background-size: cover;
	}
	&--commitment-point,
	&--commitment-block01,
	&--commitment-block02,
	&--commitment-block03{
		text-align: left;
	}
	&--commitment-block02{
		background: $beige;
	}
	&--top-lineup{
		background:
			url('#{$img_path}top/bg_lineup01.jpg') center top no-repeat,
			url('#{$img_path}top/bg_lineup02.jpg') center bottom no-repeat,
			#fefef6;
		background-size: 100%;
	}
	&--top-beige{
		background: $beige;
	}
	&__inner{
		width: 95%;
		max-width: $inner_width;
		min-width: 800px;
		margin: 0 auto;
		padding: 100px 0;
		@include media(middle) {
			padding: 80px 0;
			width: 85%;
			min-width: auto;
			&--lineup-anchor{
				padding: 80px 0 0;
			}
		}
		@include media(small) {
			padding: 50px 0;
			&--lineup-anchor{
				padding: 60px 0 0;
			}
		}
		&--beige{
			max-width: 1200px;
			margin: 0 auto;
			padding: 60px 0 80px;
			@include media(small) {
				padding: 60px 0;
			}
		}
		&--page{
			// padding: 0;
			width: 100%;
			max-width: unset;
			@include media(small) {
				// padding: 0;
				width: 100%;
			}
		}
		&--history{
			padding: 0 0 100px;
			@include media(middle) {
				padding: 0 0 50px;
				width: 90%;
			}			
		}
		&--top-lineup{
			@include media(middle) {
				width: 100%;
			}
		}
		&--lineup-anchor{
			@include media(large) {
			padding: 100px 0 0;
			margin: 0 auto;
			}
			@include media(middle) {
				padding: 80px 0　0;
			}
			@include media(small) {
				padding: 60px 0　0;
			}
		}
		&--new{
			padding: 60px 0 0;
			position: relative;
		}
		&--effect{
			display: flex;
			justify-content: space-between;
		}	
		&--detail,
		&--effect,
		&--lineup{			
			max-width: $base_width;
		}
		&--commitment-point{
			margin: 0 auto;
			padding: 0;			
		}
		&--commitment-block01,
		&--commitment-block02,
		&--commitment-block03{
			margin: 0 auto;
			padding: 80px 0;
			@include media(small) {
				padding: 60px 0;
			}
		}
		&--commitment-block01{
			@include media(small) {
				padding: 40px 0 60px;
			}
		}
	}
}

.lineup{
	.l-content-container--top-lineup{
	background: url(../images/top/bg_lineup01.jpg) center top no-repeat, 
				linear-gradient(rgba(255,255,255,0) 80%, rgba(255,255,255,1)) center bottom no-repeat, #fefef6;
	background-size: 100%;
	}
}


.l-content-block{
	padding: 0;
	margin: 0 auto;
	text-align: left;
	&__inner{
		width: 100%;
		max-width: $inner_width;
		margin: 0 auto;
		padding: 0;
		&--beige{
			margin: 0 auto;
			width: 100%;
			max-width: 1200px;
		}
	}
}
