if key == 'top'  
else
  .l-page-footer
    .l-page-footer__inner
      ul.l-page-footer__menu-list
        li: a(href!=root_path+"index.html") HOME
        li: a(href!=root_path+"about/") 消臭力について
        li: a(href!=root_path+"lineup/") ラインナップ
        li: a(href!=root_path+"pickup/") ピックアップ
        li: a(href!=root_path+"history/") ヒストリー