footer.l-footer
    .pagetop#js-pagetop
        a(href!="#")
            img(src=image_path+"common/pagetop.png", alt="ページTOP")
    .l-footer__social
        .l-footer__social-button
            a(href!="#")
                img(src=image_path+"common/icon_facebook.png", alt="Facebook")
            a(href!="#")
                img(src=image_path+"common/icon_twitter.png", alt="Twitter")
        .l-footer__social-text
            p このページをシェア
    .l-footer__inner
        .l-footer__top
            .l-footer__logo
                a(href!="#")
                    img.st-logo(src=image_path+"common/logo_footer.png", alt="空気をかえよう　エステー")
            .l-footer__button
                ul
                    li: a(href!="https://products.st-c.co.jp/",target='_blank') 製品サイト
                    li: a(href!="https://www.st-c.co.jp/",target='_blank') コーポレートサイト
        .l-footer__middle
            .l-footer__link
                ul
                    li: a(href!="https://products.st-c.co.jp/products/air_freshener/",target='_blank') 消臭剤・芳香剤
                    li: a(href!="https://products.st-c.co.jp/products/deodorizer/",target='_blank') 脱臭剤
                    li: a(href!="https://products.st-c.co.jp/products/insect_repellent/",target='_blank') 防虫剤
                    li: a(href!="https://products.st-c.co.jp/products/dehumidifier/",target='_blank') 除湿剤
                    li: a(href!="https://products.st-c.co.jp/products/household_goods_gloves/",target='_blank') 家庭用手袋
                    li: a(href!="https://products.st-c.co.jp/products/heat_pack/",target='_blank') カイロ（使い捨て）
                    li: a(href!="https://products.st-c.co.jp/products/car_care/",target='_blank') 車関連用品
                    li: a(href!="https://products.st-c.co.jp/products/others/",target='_blank') その他の製品
        .l-footer__bottom
            .l-footer__link.l-footer__link--small
                ul
                    li: a(href!="https://www.st-c.co.jp/termsofuse.html",target='_blank') サイトのご利用について
                    li: a(href!="https://www.st-c.co.jp/privacypolicy.html",target='_blank') 個人情報のお取扱いについて
                    li: a(href!="https://www.st-c.co.jp/contact/index.html",target='_blank') お問い合わせ
        .l-footer__copyright
            p Copyright &copy; S.T.CORPORATION All Rights Reserved.