@charset "utf-8";

/*----------------------------------------------------
	footer
----------------------------------------------------*/

// .pagetop{
// 	position: absolute;
// 	right: 30px;
// 	top: -37px;
// 	@include media(small) {
// 		width: 25%;
// 		top: -30px;
// 	}
// }

.l-footer{
	background: #e2e7ef;
	position: relative;
	&__social{
		display: block;
		position: absolute;
		top: -25px;
		left: 50%;
		transform: translate(-50%,0);
	}
	&__social-button{
		display: flex;
		width: auto;
		justify-content: center;
		@include media(middle) {
			margin-top: 0;
		}
		a{
			img{
				margin: 0 8px;
				width: 50px;
				@include media(small) {
					margin: 0 4px;
				}
			}
		}
	}
	&__inner{
		width: 95%;
		margin: 0 auto;
		padding: 40px 0;
		@include media(small) {
			padding: 30px 0;
		}	
	}
	&__top{
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: $base_width;
		width: 95%;
		margin: 0 auto;
		padding: 42px 0 0;
		@include media(small) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 30px 0 0;
			img{
				margin: 0 auto;
			}
		}	
	}
	&__logo{
		margin: 0 20px 0 0;
		img{
			width: 100px;
		}
		@include media(small) {
			margin: 10px auto 20px;
			img{
				width: 60%;
			}
		}
	}
	&__button{
		ul{
			display: flex;
			align-items: center;
			margin-top: 10px;
			@include media(small) {
				flex-direction: row;
				justify-content: center;
			}
			li{

				@include media(middle) {
					margin: 0 8px;
					border-radius: 18px;
					height: 40px;
				}
				@include media(xxsmall) {
					margin: 0 4px;
				}
				a{
					border-radius: 15px;
					border: 2px solid $green;
					background: $white;
					height: 30px;
					margin: 0 10px;
					padding: 0 20px 0 24px;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					color: $green;
					font-size: 1.3rem;
					font-weight: bold;
					@include media(small) {
						margin: 0;
						padding: 0 10px 0 24px;
					}
					&::before{
						content: '';
						display: inline-block;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 4px 0 4px 5px;
						border-color: transparent transparent transparent $green;
						padding-right: 10px;
						position: absolute;
						left: 12px;
						top: 50%;
						transform: translate(0,-50%);
					}
				}
			}
		}			
	}
	&__middle,
	&__bottom{
		padding: 30px 0 0;
		@include media(small) {
			padding: 15px 0 0;
		}
	}
	&__link{
		ul{
			display: flex;
			align-items: top;
			justify-content: center;
			@include media(small) {
				// margin-top: 20px;
				// flex-direction: column;
				flex-wrap: wrap;
			}
			li{
				line-height: 1;
				@include media(small) {
					margin: 10px 0;
				}
				a{
					width: 100%;
					text-align: center;
					font-size: 1.6rem;
					padding: 0 20px;
					font-weight: normal;
					border-right: 1px solid #ccc;
					@include media(xmiddle) {
						padding: 0 12px;
					}
					@include media(middle) {
						font-size: 1.4rem;
						margin: 10px 0;
						// border-right: 1px solid #ccc;			
					}
				}
				&:first-child{
					a{
						border-left: 1px solid #ccc;
						@include media(small) {
							border-left: none;
						}
					}
				}
			}	
		}
		&--small{
			ul{
				display: flex;
				align-items: top;
				justify-content: center;
				@include media(small) {
					margin-top: 0;
				}
				li{
					line-height: 1;
					@include media(small) {
						margin: 10px 0;
					}
					a{
						font-size: 1.1rem;
						font-weight: 200;
						border-left: none;

					}
					&:last-child{
						a{
							border-right: nonr;
						}
					}
				}
			}

		}
	}
	&__copyright{
		margin: 47px 0 0;
				text-align: center;
		p{
			font-size: 1.2rem;
			color: $grey;
		}
		@include media(small) {
			margin: 20px 0 0;
			font-size: 1rem;
		}
	}
}