//- レイアウトファイルを継承
extends ../_layout.pug

block vars
  include ../_config.pug
  - var key = 'top'
  - var page = pages[key]
block contents
  .block.block--blend
    .block__item.block--blend
      .block__bg
      .block__image
      .block__text
        h1 mix blend mode

