@charset "utf-8";

/*----------------------------------------------------
	mainvisual
----------------------------------------------------*/

.p-mainvisual{
	width: 100%;
	background: #fff;
	&__inner{

	}
	@include media(small) {
	}
	&__slide{
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
		padding: 0 0 66px;
		background: $white;
		.slick-list {
			overflow: visible;
		}
		.slick-slide {
			transition: .3s ease;
			&:not(.slick-current) {
				opacity: .2;
			}
		}
		.slick-dots {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			font-size: 0;
			text-align: center;
			list-style: none;
		}
		.slick-dots{
			li {
			display: inline-block;
			margin: 0 8px;
				button {
					display: block;
					font-size: 0;
					line-height: 0;
					width: 12px;
					height: 12px;
					background: #e2e7ef;
					border: 0;
					border-radius: 50%;
					color: transparent;
					cursor: pointer;
				}
				&.slick-active{
					button{
						background: #2a498c;
						width: 16px;
						height: 16px;
					}
				}
			}
		}
		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 100;
			padding: 4px 8px;
			background: #000;
			border: none;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			color: #fff;
			font-size: 16px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			cursor: pointer;
		}
		.slick-arrow:hover {
			color: #fff;
			opacity: .6;
		}
	}
	&__slide-item{
		margin: 0 auto;
		padding: 0;
		img{
			display: block;
			margin: 0 auto;
			width: 100%;
		}
	}
	&__image{
		img{
			display: block;
			margin: 0 auto;
			width: 100vw;
		}
	}
	&__slide{
	}
	&__slide-item{
	}
	&__logo{
	}
}

.p-top-about{
	width: 100%;
	height: 723px;
	background: url(../images/top/bg_about.png) no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px auto 0;
	@include media(small) {
		background: url(../images/top/bg_about.png) center center /cover no-repeat;
		margin: 30px auto 0;
		width: 100%;
		height: calc(100vw * 0.55);
	}
	&__detail{
		width: 460px;
		height: 240px;
		background: $white;
		// margin: 20px auto;
		padding: 40px;
		@include media(small) {
			width: auto;
			height: auto;
			padding: 20px;
			margin: 10px auto;
		}
	}
	&__detail-text{
		font-weight: 200;
		color: $blue;
		font-size: 4rem;
		letter-spacing: 10px;
		@include media(small) {
			font-size: 2.8rem;
		}
		span{
			color: #119bd8;
			margin: 0 10px;
		}
	}
}

.p-top-lineup{
	&__image{
	margin: 40px auto;
	position: relative;
	width: 1200px;
	height: 760px;
		@include media(xmiddle) {
			width: 100%;
			height: calc(92vw * 0.63);
			margin: 30px auto;
		}	
	}
	&__image-bg,
	&__image-item{
		position: absolute;
		
	}
	&__image-bg{
		top: 0;
		left: 0;
		figure,
		img{
			@include media(middle) {
				width: 100%;
				height: calc(92vw * 0.63);
			}
		}
	}
	&__image-item{
		z-index: 1;
		&--rooms{
			top: 30px;
			left: 30px;
			@include media(middle) {
				top: 2vw;
				left: 2vw;
				width: 28vw;
			}
		}
		&--care{
			top: 240px;
			left: 30px;
			@include media(middle) {
				top: 18.8vw;
				left: 2vw;
				width: 9.6vw;
			}
		}
		&--trash{
			bottom: 30px;
			left: 70px;
			@include media(middle) {
				bottom: 2vw;
				left: 5.4vw;
				width: 19.2vw;
			}
		}
		&--toilet{
			top: 120px;
			right: 70px;
			@include media(middle) {
				top: 11.4vw;
				right: 5.2vw;
				width: 20.8vw;
			}
		}
		&--car{
			bottom: 30px;
			right: 30px;
			@include media(middle) {
				bottom: 2vw;
				right: 2vw;
				width: 19.2vw;
			}
		}
	}

	&__link{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
	}
	&__link-item{
		flex-shrink: 0;
		width: calc(33.3% - 30px);
		margin: 0 15px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 2px solid $blue;
		position: relative;
		color: $blue;
		@include media(small) {
			width: calc(50% - 20px);
			margin: 0 10px;
		}
		a{
			color: $blue;
			&::before{
				position: absolute;
				top: 50%;
				left: 5px;
				transform: translate(0,-50%);
				content: url('#{$img_path}common/icon_arrow.png');
				display: block;
				z-index: 2;
			}
		}
		&--exlink{
				position: relative;
				&::after{
					content: url('#{$img_path}common/icon_exlink.png');
					display: block;
					margin: 0 0 0 10px;				
			}
		}
	}
}

.p-top-pickup{
	&__image{
	margin: 60px 0;
	}
	&__link{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__link-item{
		width: calc(50% - 20px);
		margin-bottom: 40px;
		@include media(large) {
			&:nth-child(3),
			&:nth-child(4){
				margin-bottom: 0;
			}
		}
			@include media(middle) {
			width: calc(50% - 10px);
			margin-bottom: 20px;
		}
		@include media(small) {
			width: 100%;
			margin-bottom: 20px;
			img{
				width: 100%;
			}
		}
		a{
			display: block;
			position: relative;
			&:after{
				content: '';
				background: url(../images/common/icon_link_btn.png);
				width: 25px;
				height: 25px;
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
		}
	}
}

.p-top-history{
	&__round{
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: rgba(255,255,255,0.9);
	margin: 0 auto;
	padding: 100px 0;
		@include media(middle) {
			width: 440px;
			height: 440px;
			padding: 80px 0;
		}
		@include media(small) {
			width: 360px;
			height: 360px;
			padding: 40px 0;
		}
		@include media(xxsmall) {
			width: 320px;
			height: 320px;
			padding: 30px 0;
		}
	}
	&__text{
		line-height: 2.2;
		@include media(small) {
			line-height: 1.8;
		}
	}
	&__text-small{
		font-size: 1.1rem;
		margin-top: 40px;
		@include media(middle) {
			margin-top: 10px;
		}
		@include media(small) {
			margin-top: 5px;
			font-size: 1rem;
		}
	}
}

.p-top-topics{
	position: relative;
	&__heading-02{
		width: 144px;
		height: 56px;
		background: $blue;
		color: $white;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		top: -66px;		
		&::after{
			position: absolute;
			bottom: -20px;
			right: 56px;
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 20px 20px 0;
			border-color: transparent $blue transparent transparent;
		}
	}
	&__list{
		border: 1px solid $blue;

	}
	&__list-item{
		width: 100%;		
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		@include media(small) {
			flex-direction: column;
		}	
		&:not(:last-child){
			border-bottom: 1px solid $blue;
		}
	}
}

.p-top-topics-list{
	&__date{
		color: $blue;
		font-size: 1.6rem;
		font-weight: 500;
		padding: 20px 40px;
		@include media(small){
			width: 100%;
			text-align: left;
			padding: 20px 20px 10px;
		}
	}
	&__title{
		padding: 20px 40px;
		text-align: left;
		@include media(small){
			padding: 0 20px 20px;
		}
	}
	&__link{
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translate(0,-50%);
		content: url('#{$img_path}common/icon_link.png');
		&--exlink{
			content: url('#{$img_path}common/icon_exlink.png');			
		}
		@include media(small){
			top: 30px;
			right: 30px;
			transform: translate(0,-50%);
		}
	}
}

.p-top-banner{
	margin: 40px 0 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	@include media(small) {
		flex-direction: column;
	}	
	// &__cm{
	// 	a{
	// 		display: block;
	// 		position: relative;
	// 		@include media(small) {
	// 			width: 100%;
	// 			margin-bottom: 20px;
	// 			img{
	// 				width: 100%;
	// 			}
	// 		}
	// 		&:after{
	// 			content: '';
	// 			background: url(../images/common/icon_exlink_btn.png);
	// 			width: 25px;
	// 			height: 25px;
	// 			position: absolute;
	// 			bottom: 10px;
	// 			right: 10px;
	// 		}
	// 	}
	// }
	&__faq{
		display: block;
		@include media(small) {
			width: 100%;
			margin-bottom: 20px;
			img{
				width: 100%;
			}
		}
	}
	&__cm,
	&__faq{
		a{
			display: block;
			position: relative;
			@include media(small) {
				width: 100%;
				margin-bottom: 20px;
				img{
					width: 100%;
				}
			}
			&:after{
				content: '';
				background: url(../images/common/icon_exlink_btn.png);
				width: 25px;
				height: 25px;
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
		}
	}
}

.p-top-useful{
	margin: 29px auto 0;
	@include media(small) {
		width: 100%;
		margin: 30px auto 0;
	}
	&__image{
		@include media(xsmall) {
		display: block;
		margin: 0 auto;
		text-align: center;
		}
	}
	&__heading{
		position: relative;		
		span{
			padding: 4px 5px;
			display: block;
			width: 124px;
			height: 32px;
			background: $blue;
			color: $white;
			font-size: 16px;
			&::after{
				content: '';
				display: block;
				background: $blue;
				height: 2px;
				width: 100%;
				position: absolute;
				top: 50%;
				z-index: -1;
				transform: translate(0,-50%);
			}
		}
	}
	&__inner{
		margin: 18px auto 0;
		display: flex;
		justify-content: space-between;
		@include media(xsmall) {
			flex-direction: column;
		}	
	}
	&__list{
		@include media(small) {
			width: 60%;
		}

		@include media(xsmall) {
			width: 100%;
		}
		a{
			display: block;
		}
	}
	&__list-item{
		background: $yellow;
		width: 300px;
		height: 40px;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		text-align: left;
		span{
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			padding: 0 0 0 55px;
			font-size: 1.6rem;
			@include media(small) {
				padding: 0 0 0 40px;
				font-size: 1.3rem;
			}
		}
		@include media(small) {
			width: 100%;
		}	
		&:not(:first-child){
			margin-top: 10px;
			@include media(small) {
				margin-top: 5px;
			}
		}
		@include media(xsmall) {
			&:first-child{
				margin-top: 10px;
			}
		}	
		&::before,
		&::after{
			position: absolute;
			content:'';
			display: block;
		}
		&::before{
			background: url('#{$img_path}common/icon_book.png');
			width: 20px;
			height: 18px;
			top: 50%;
			left: 20px;
			transform: translate(0,-50%);
			@include media(small) {
				left: 10px;
			}
		}
		&::after{
			background: url('#{$img_path}/common/icon_exlink_white.png') no-repeat;
			width: 13px;
			height: 13px;
			top: 50%;
			right: 20px;
			transform: translate(0,-50%);
		}
	}
}