if key == 'top'
  - var root_path = './';
else
  - var root_path = '../';

if key == 'top'
  - var css_path = './css/'
  - var js_path = './js/'
  - var image_path = './images/'
else
  - var css_path = '../css/'
  - var js_path = '../js/'
  - var image_path = '../images/'

-
  var pages = {
    top: {
      url: 'index.html',
      name: 'HOME',
      title: 'トップページ',
      description: 'トップページです',
      keywords: 'トップページ',
      image: ''
    },
    about: {
      url: '/about/',
      name: '消臭力について',
      title: '消臭力について',
      description: '消臭力について',
      keywords: '消臭力について',
      image: ''
    },
    lineup: {
      url: '/lineup/',
      name: 'ラインナップ',
      title: 'ラインナップ',
      description: '',
      keywords: '',
      image: ''
    },
    pickup: {
      url: '/pickup/',
      name: 'ピックアップ',
      title: 'ピックアップ',
      description: '',
      keywords: '',
      image: ''
    },
    history: {
      url: '/history/',
      name: 'ヒストリー',
      title: 'ヒストリー',
      description: '',
      keywords: '',
      image: ''
    },
    mukotype: {
      url: '/pickup/mukotype.html',
      name: '無香タイプ（イオン消臭プラス）',
      title: '無香タイプ（イオン消臭プラス）',
      description: '',
      keywords: '',
      image: ''
    },
    premiumaroma: {
      url: '/pickup/premiumaroma.html',
      name: 'プレミアムアロマ',
      title: 'プレミアムアロマ',
      description: '',
      keywords: '',
      image: ''
    },
    shoshuriki: {
      url: '/pickup/shoshuriki.html',
      name: '消臭力（玄関・リビング用／トイレ用）',
      title: '消臭力（玄関・リビング用／トイレ用）',
      description: '',
      keywords: '',
      image: ''
    },
    jidotype: {
      url: '/pickup/jidotype.html',
      name: '自動タイプ（電池式／プラグタイプ）',
      title: '自動タイプ（電池式／プラグタイプ）',
      description: '',
      keywords: '',
      image: ''
    },
    test: {
      url: '/test/index.html',
      name: 'テスト',
      title: 'テスト',
      description: '',
      keywords: '',
      image: ''
    },
  }