if key == 'top'
  - var root_path = './';
else
  - var root_path = '../';
if key == 'top'
  - var css_path = './css/'
  - var js_path = './js/'
  - var image_path = './images/'
else
  - var css_path = '../css/'
  - var js_path = '../js/'
  - var image_path = '../images/'

-
  var pages = {
    top: {
      url: 'index.html',
      name: 'トップページ',
      title: 'ミックスブレンドモード',
      description: 'IE非対応です',
      keywords: 'トップページ',
      image: ''
    },
  }